//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW5A-LV25MG121NC2/I1
//Device: GW5A-25
//Device Version: A
//Created Time: Wed 01 03 03:14:48 2024

IO_LOC "txp" C3;
IO_PORT "txp" PULL_MODE=UP DRIVE=2 BANK_VCCIO=3.3;
IO_LOC "sdram_dqm[1]" L7;
IO_PORT "sdram_dqm[1]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dqm[0]" L8;
IO_PORT "sdram_dqm[0]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_ba[1]" K8;
IO_PORT "sdram_ba[1]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_ba[0]" L9;
IO_PORT "sdram_ba[0]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[12]" D1;
IO_PORT "sdram_adr[12]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[11]" J1;
IO_PORT "sdram_adr[11]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[10]" J8;
IO_PORT "sdram_adr[10]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[9]" J2;
IO_PORT "sdram_adr[9]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[8]" G4;
IO_PORT "sdram_adr[8]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[7]" H4;
IO_PORT "sdram_adr[7]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[6]" H1;
IO_PORT "sdram_adr[6]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[5]" H2;
IO_PORT "sdram_adr[5]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[4]" K7;
IO_PORT "sdram_adr[4]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[3]" J11;
IO_PORT "sdram_adr[3]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[2]" J10;
IO_PORT "sdram_adr[2]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[1]" F7;
IO_PORT "sdram_adr[1]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_adr[0]" F6;
IO_PORT "sdram_adr[0]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_we" J7;
IO_PORT "sdram_we" PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_cas" K10;
IO_PORT "sdram_cas" PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_ras" L10;
IO_PORT "sdram_ras" PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_cs" K9;
IO_PORT "sdram_cs" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_clk" E3;
IO_PORT "sdram_clk" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[15]" L3;
IO_PORT "sdram_dq[15]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[14]" L4;
IO_PORT "sdram_dq[14]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[13]" C2;
IO_PORT "sdram_dq[13]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[12]" B2;
IO_PORT "sdram_dq[12]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[11]" F1;
IO_PORT "sdram_dq[11]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[10]" F2;
IO_PORT "sdram_dq[10]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[9]" A1;
IO_PORT "sdram_dq[9]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[8]" E1;
IO_PORT "sdram_dq[8]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[7]" G2;
IO_PORT "sdram_dq[7]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[6]" G1;
IO_PORT "sdram_dq[6]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[5]" J4;
IO_PORT "sdram_dq[5]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[4]" K4;
IO_PORT "sdram_dq[4]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[3]" L2;
IO_PORT "sdram_dq[3]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[2]" L1;
IO_PORT "sdram_dq[2]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[1]" K1;
IO_PORT "sdram_dq[1]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "sdram_dq[0]" K2;
IO_PORT "sdram_dq[0]" PULL_MODE=NONE DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "rst_n" H11;
IO_PORT "rst_n" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "clk_50M" E2;
IO_PORT "clk_50M" PULL_MODE=NONE BANK_VCCIO=3.3;
